@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
   
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;

}
body{
    background: #EEE1CE;
}

.content {
    max-width: 100%;
    margin: auto;
}

@media (min-width: 768px) {
    .content {
        max-width: 95%;
    }
}

@media (min-width: 1024px) {
    .content {
        max-width: 85%;
    }
}

@media (min-width: 1280px) {
    .content {
        max-width: 75%;
    }
}

@media (min-width: 1536px) {
    .content {
        max-width: 70%;
    }
}
