
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');


.content_banner{
    background: #caca;
    position: relative;
    top: -85px;
    z-index: -10;
    height: 100vh;
    overflow: hidden;
}
.background{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
}
.capa-1{
    position: relative;
}

.content_image img{
    width: 100%;
    height: 100%;
}
.content_title{
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.content_title_background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    line-height: 0.8;

}
.title_main{
    font-size: 74px;
    color: #fff;
    font-family: 'Teko', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content_title .content_title_background .title_background{
    font-family: 'Teko', sans-serif;
    font-size: 174px;
    color: transparent; 
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.719); 
    
}
