

.content_banner{
    background: #caca;
    position: relative;
    margin-top: -80px;
    z-index: 0;
    height: 100vh;
    overflow: hidden;
}
.background{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
}
.capa-1{
    position: relative;
}

.content_image{
    height: 100vh;
}
.content_image::before{
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: #10101075;
    position: absolute;
}
.content_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content_title{
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.content_title_background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    line-height: 0.8;

}
.title_main{
    font-size: 74px;
    color: #fff;
    font-family: 'Teko', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title_background{
    font-family: 'Teko', sans-serif;
    font-size: 174px;
    color: rgba(255, 255, 255, 0.24); 
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.819); 
    font-weight: 600;
    
}
