.content_category{
    background-color: #03040A;
    margin-top: -85px;
    padding-top: 80px;
    
}

.title_category{
   padding: 15px 0;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 500;
}

/******************PRODUCT**************************/

.content_product{
    
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;

}

.background_home{
    background-color: #ffffff;
   
}


/*************RESPONISVE*********************/
@media (min-width: 768px) { 
    .content_product{
        
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 50px;
    
    }
    
 
 }
 @media (min-width: 1024px) {
    .content_product{
      
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 50px;
    
    }
 }
 
 @media (min-width: 1280px) {
    .content_product{
      
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 50px;
    
    }
 }
