@import url('https://fonts.cdnfonts.com/css/sansation');

.container_product_selected{
    position: relative;
    width: 100%;
}
.image_product_selected{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid{
    display: grid;
    
    
}
.fondo_product_selected{
    width: 100%;
    max-height: 550px;
}
/******************************************************/

.content_info{
    color: #1C2A48 !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.content_title_info{
    display: flex;
    background-color: #F1F1F1;
    margin-bottom: 10px;
    padding: 5%;
    border-radius: 10px;
    
}
.text{
    display: flex;
    flex-direction: column;
    color: #1C2A48;
    width: 80%;
}
.logo_marca{
    display: flex;
    align-items: center;
    width: 20%;
}
.logo_marca img{
    filter:invert(80%) sepia(95%) saturate(337%) hue-rotate(183deg) brightness(50%);
}
.title_info{
    color: #1C2A48;
    font-size: 28px;
    font-weight: 800;
}
.description_info{
    color: #1C2A48;
    font-weight: 300;
    font-size: 13px;
}
.content_precio{
    background-color: #F1F1F1;
    /* margin-top: 0px; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5%;
    border-radius: 10px;
}

.column_label_precio{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: column;
}

.column_precio{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.precio_inter{
    font-weight: 800;
}
.precio_desc{
    display: flex;
    padding: 2px 2px 2px 9px;
    background-color:  #FF6F61;;
    color: white;
    align-self: end;
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}


/*****************************COLOR*********************/

.content_grid{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
}
.content_color_talla{
    width: 80%;
    /* width: fit-content; */
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.color{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 9px;
    border: 1px solid black;
    cursor: pointer;    
}
.content_colors_palette{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.colorSelected{
    border: 2px solid black;
}
.colorSelected:before{
    display: block;
    content: "";
    /* top: 0; */
    position: absolute;
    width: 25px;
    height: 25px;
    border-right: 2px #e1d6d6;
    /* background: #1e1d1d; */
    /* top: 3px; */
    /* right: 3px; */
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    
}

/********************TALLA****************************/



.content_talla{
    margin-top: 30px;
}

.content_talla_select{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.talla{
    width: 50px;
    height: 30px;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.tallaSelected{
   
    font-weight: 800;
    border: 2px solid rgb(32, 32, 32);
    background-color: #ffffff;
}

/**************************BUTTON ****************************/
.content_buttons{
   
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 5%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
    
}

.content_button{
    background: #262C4A;
    padding: 12px 20px;
    width: fit-content;
    color: #7B7D91;
    cursor: pointer;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

}
.secondary{
    background-color: transparent;
    border: 1px solid #262C4A;
}
.secondary:hover{
    background-color: #7b7d9172 !important;
 
}
.content_button:hover{
    background-color: #1b1f34;
    color: #7B7D91;
}
.content_cant{
    width: 20%;
    background-color: #F1F1F1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
    


}
.content_quantity{
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}

.mas , .menos{
    text-align: center;
    cursor: pointer;
    padding: 0 15px;
    display: inherit;
    color: white;
    background-color: #1C2A48;
}
.mas:hover , .menos:hover{
    background-color: #1c2a4895;
}


@media (min-width: 768px) { 
    .grid{
        grid-template-columns: 50% 50%;
       }
    .fondo_product_selected{
        height: 100%;
        object-fit: cover;
        max-height: 100%;
    }
 
 }

@media (min-width: 1024px) {
   .grid{
    grid-template-columns: 50% 50%;
   }
     
}

@media (min-width: 1280px) {
   .grid{
    grid-template-columns: 50% 50%;
    max-height: 550px;
    
   }
   .fondo_product_selected{
    height: 550px;
    }    
}