@import url('https://fonts.cdnfonts.com/css/sansation');

.container_product_selected{
    position: relative;
    width: 100%;
}
.image_product_selected{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.fondo{
    width: 100%;
}
/******************************************************/

.content_info{
    
    padding: 30px;
}
.content_info span{
    font-family: 'Sansation', sans-serif;
}
.content_title_info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    color: rgb(29, 28, 28);
}
.title_info{
font-size: 28px;
font-weight: 800;
}
.description_info{
    color: #4e4e4d;
}
.content_precio{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.precio_num{
    display: flex;
    justify-content: space-between;
}

.precio_normal{
    text-decoration: line-through
}
.precio_inter{
    font-weight: 800;
}
.precio_desc{
    padding: 2px;
    background-color:  #FF6F61;;
    color: white;
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}


/*****************************COLOR*********************/
.content_color{
    margin-top: 30px;
}

.color{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    border: 1px solid black;
    cursor: pointer;    
}
.content_colors_palette{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.colorSelected{
    border: 2px solid black;
}
.colorSelected:before{
    display: block;
    content: "";
    /* top: 0; */
    position: absolute;
    width: 44px;
    height: 44px;
    border-right: 2px #e1d6d6;
    /* background: #1e1d1d; */
    /* top: 3px; */
    /* right: 3px; */
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    
}

/********************TALLA****************************/

.content_talla{
    margin-top: 30px;
}

.content_talla_select{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.talla{
    width: 34px;
    height: 34px;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.tallaSelected{
   
    font-weight: 800;
    border: 2px solid rgb(32, 32, 32);
}