.content_section{
    width: 100%;
    display: flex;
    column-gap: 80px;
    padding: 40px 0 ;
    
    
}
.rigth{
    flex-direction: row-reverse;
    background-color: #E0D4C1;
}
.section_content_text{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content_section_text{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;

}
.text_title{
    font-size: 40px;
    font-weight: bold;
    color: #05050B;
}
.text_descripcion{
    margin-top: 10px;
    font-size: 15px;
    color: #05050B;

}
.content_btn{
    display: flex;
    column-gap: 15px ;
}